html, body, .container-table {
    height: 100%;
}

.alert {
    height: 500px;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.spacer {
    margin:0; 
    padding:0; 
    height:30px;
}

.spacer-stars {
    height: 70px;
}